<h1>About</h1>
<p>
	<%= link_to "Project Majestic Camel", "http://MajesticCamel.net" %>
	makes booking entertainment easy.

	<%= link_to  "Home", "pages#" %>

</p>

<!-- <h4> Maybe this will work </h4> -->
