<div class="hero-unit">

<div class="row-fluid">


  <div class="span12">
	  <h1>Welcome to Majestic Camel!</h1>
			
			<p>You've found the home page for the
			<%= link_to "Project Majestic Camel", "http://MajesticCamel.com"   %>
			application </p>
			
			<p>Elise has on a pretty yellow dress -- very fancy </p>

			<p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        	</p>
	</div>

</div>

</div>


